<div class="card mt-5">
  <div class="card-body">
    <form #productForm="ngForm" (ngSubmit)="onSubmit(productForm)">
      <input type="hidden" name="$key" #$key="ngModel" [(ngModel)]="productService.selectedProduct.$key">
      <div class="form-group">
        <input type="text"
          class="form-control"
          name="name"
          #name="ngModel"
          [(ngModel)]="productService.selectedProduct.name"
          placeholder="Add product name">
      </div>
      <div class="form-group">
        <input type="text"
          class="form-control"
          name="category"
          #category="ngModel"
          [(ngModel)]="productService.selectedProduct.category"
          placeholder="Add product category">
      </div>
      <div class="form-group">
        <input type="text"
          class="form-control"
          name="location"
          #location="ngModel"
          [(ngModel)]="productService.selectedProduct.location"
          placeholder="Add product location">
      </div>
      <div class="form-group">
        <input type="text"
          class="form-control"
          name="price"
          #price="ngModel"
          [(ngModel)]="productService.selectedProduct.price"
          placeholder="Add product price">
      </div>
      <div class="form-group">
        <button class="btn btn-primary" type="submit">
          <i class="fa fa-plus-circle"></i> Add a product
        </button>
        <button type="reset" class="btn btn-secondary" (click)="resetForm(productForm)">
          <i class="fa fa-sync-alt"></i> Reset
        </button>
      </div>
    </form>
  </div>
</div>