<div class="card">
  <div class="card-body">
    <h6 class="text-center">List of products</h6>
    <table class="table table-sm table-hover">
      <tbody>
        <tr *ngFor="let product of productList">
          <td>{{product.name}}</td>
          <td>{{product.category}}</td>
          <td>
            <button class="btn btn-secondary text-white" (click)="onEdit(product)">
                <i class="fa fa-edit"></i></button>
            <button class="btn btn-danger text-white" (click)="onDelete(product.$key)">
                <i class="fa fa-trash-alt"></i></button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>